@keyframes markerShadow {
    from {
        filter: drop-shadow(0 0 0 rgba(0, 0, 0, 0));
    }

    to {
        filter: drop-shadow(0 4px 8px rgba(0, 0, 0, 0.3));
    }
}

@keyframes markerDrop {
    0% {
        transform: translateY(-25px) scale(0.95);
        opacity: 0;
    }

    60% {
        transform: translateY(4px) scale(1.05);
        opacity: 1;
    }

    80% {
        transform: translateY(-2px) scale(0.98);
    }

    100% {
        transform: translateY(0) scale(1);
    }

}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(10px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes heatPulse {
    from {
        filter: brightness(1);
    }

    to {
        filter: brightness(1.2);
    }
}

@keyframes rainMove {
    from {
        background-position: 0 0;
    }

    to {
        background-position: 0 20px;
    }
}

@keyframes lightning {

    0%,
    95%,
    100% {
        background-color: transparent;
    }

    96% {
        background-color: rgba(255, 255, 255, 0.2);
    }
}

@keyframes fadeSlideUp {
    from {
        opacity: 1;
        transform: translateY(0);
    }

    to {
        opacity: 0;
        transform: translateY(-15px);
    }
}

@keyframes glowPulse {
    from {
        box-shadow: 0 0 10px rgba(124, 252, 0, 0.4);
    }

    to {
        box-shadow: 0 0 25px rgba(124, 252, 0, 0.9);
    }
}

@keyframes spin {
    100% {
        transform: rotate(360deg);
    }
}