body {
    margin: 0;
    font-family: 'Segoe UI', sans-serif;
    background: linear-gradient(135deg, #0f2027, #203a43, #2c5364);
    color: white;
}

header {
    text-align: center;
    padding: 20px;
    font-size: 28px;
    font-weight: bold;
    letter-spacing: 1px;
}

input,
select {
    width: 100%;
    padding: 18px 4px !important;
    margin-top: 14px;
    border-radius: 14px;
    border: none;
    outline: none;
    font-size: 18px;
    font-weight: 600;
    background: rgba(255, 255, 255, 0.9);
    color: #333;
}

select,
select option {
    color: #000 !important;
    background: #fff !important;
}

#selectAllBtn {
    width: 100%;
    padding: 12px;
    margin-top: 15px;
    border-radius: 12px;
    border: none;
    background: #00c853;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
}

#yourLocation,
#destination {
    color: #000 !important;

}

input:focus,
select:focus {
    box-shadow: 0 0 12px #00ff95;
    transform: scale(1.02);
    transition: 0.3s;
}

select,
option {
    color: black;
}